.settings-checkbox-wrapper {
  margin: .5rem;
  display: flex;
  align-items: center;
}

.settings-checkbox-container {
  display: flex;
}

.settings-checkbox-wrapper.wrapper-full-width {
  justify-content: space-between;
}

.settings-checkbox-input {
  background-color: #2e323d;
  color: #a7adbb;
  cursor: pointer;
  border: 1px solid black;
  border-radius: .2rem;
  user-select: none;
  box-shadow: inset 0 0 0rem black, 0 0 0rem black, 0 0 0rem black;
  height: 1.5rem;
  width: 1.5rem;
  outline: none;
  transition: all .5s;
}

.settings-checkbox-input.checkbox-checked.checkbox-active {
  border-color: rgb(243, 220, 255);
  cursor: pointer;
  background-color: white;
  box-shadow:  0 0 .5rem rgb(249, 247, 255), inset 0 0 .7rem rgb(195, 92, 255), 0 0 1rem rgb(156, 134, 255);
}

.settings-checkbox-input.checkbox-checked:not(.checkbox-active) {
  border-color: rgb(243, 220, 255);
  cursor: auto;
  box-shadow: 0 0 .5rem rgb(249, 247, 255), inset 0 0 .7rem rgb(195, 92, 255), 0 0 1rem rgb(156, 134, 255);
}

.settings-checkbox-input:not(.checkbox-checked).checkbox-active {
  border-color: #2e323d;
  cursor: pointer;
  background-color: black;
}

.settings-checkbox-input:not(.checkbox-checked):not(.checkbox-active) {
  cursor: auto;
}

.settings-checkbox-label {
  user-select: none;
  font-size: 1.2rem;
}

.settings-checkbox-label.settings-checkbox-full-width {
  width: 100%;
}

:not(.checkbox-active)+.settings-checkbox-label {
  color: #a7adbb;
}

.settings-checkbox-label.checkbox-inner-label:not(.checkbox-active) {
  color: #a7adbb;
}

.checkbox-switch-mode-background {
  flex-shrink: 0;
  position: relative;
  height: 1.7rem;
  width: 3rem;
}

.checkbox-switch-mode-background:not(.switch-active) {
  cursor: auto !important;
}

.checkbox-switch-mode-switch {
  box-sizing: border-box;
  position: absolute;
  top: .05rem;
  height: 1.6rem;
  width: 1.6rem;
  border: 1px solid black;
}

.switch-active {
  background-color: #a7adbb;
}

.checkbox-switch-mode-switch.switch-active:hover {
  border-color: rgb(243, 220, 255);
  cursor: pointer;
  background-color: white;
  box-shadow:  0 0 .5rem rgb(249, 247, 255), inset 0 0 .7rem rgb(195, 92, 255), 0 0 1rem rgb(156, 134, 255);
}

.checkbox-switch-mode-switch.switch-checked {
  left: 1.45rem;
}

.checkbox-switch-mode-switch:not(.switch-checked) {
  left: .05rem;
}