.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 2rem);

  border: 1px solid black;
  box-sizing: border-box;
  margin: 1rem;
  border-radius: .5rem;
  padding: 1rem;
  background-color: #20232b;

  min-width: 50%;
}

@media only screen and (max-width: 600px) {
  .settings-container {
    min-width: 100%;
  }
}