.watch-loader {
  height: 50%;
  max-width: 100%;
}

.progress-ring-circle {
  transition: 0.1s all;
  transition-timing-function: linear;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.loader-text-white, .loader-text-black {
  font-size: 1.2rem;
}

.loader-text-black {
  fill: white;
}

.loader-text-white {
  fill: black;
}