.watch-loader {
  position: relative;
  height: calc(100% - 3rem);
}

.progress-ring {

}

.progress-ring__circle {
  transition: 0.01s all;
  transition-timing-function: linear;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
